DB_PASSWORD=123
DB_DSN=postgresql://postgres:[YOUR-PASSWORD]@db.foo.supabase.co:5432/postgres
SUPABASE_SERVICE_ROLE_KEY=secret_key
PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_your_key_here
